<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/photos/new" method="post">
    <input type="text" name="name">Image name</input></br>
    <input type="text" name="url">Image url</input></br>
    <input type="text-field" name="description">Describe Image</input></br>
    <input type="submit">Submit</input>
    </form>
  </body>
</html>
