<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/users">Return to ya whole posse</a></br>
    <div><%=User.name%></div>
    <%for(i=0;i<Photos.length;i++){%>
      <img src="<%=Photos[i]%>" height="150px">
    <%}%>
  </body>
</html>
